.example-card {
    max-width: 400px;
  }
  .example-actions-button{
    padding-right: 10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .center{
    width: 75%;
    margin: 10px auto;
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .direita{
    float: right;    
  }